.news {
}
.news__container {
}
.news__title {
}
.section__title {
}
.news__list {
}
.news__item {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: var(--color-bg-secondary);
  grid-column: span 4;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.news__item-date {
  color: var(--color-primary);
  width: 100%;
}
.news__item-desc {
  flex: 1;
  width: 100%;
}
.desc {
  width: 100%;
}
.news__btn-more {
  width: 100%;
}
