.services {
    padding: 50px 0;
    background-color: var(--color-bg-secondary);
}
.services__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.services__item {
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
    background-color: #e6f0ff;
}
.service__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service__title {
    color: var(--color-primary);
    font-size: 1rem;
}
.service__btn-open {
    color: var(--color-primary);
    font-size: 2rem;
}
.service__info {
    display: none;
    flex-direction: column;
    align-items: flex-start;
}
.service__info.open {
    display: flex;
}
.service__btn-more {
    margin-top: 10px;
    font-weight: 500;
    cursor: pointer;
}